.footer {
  margin-top: 1rem;
  padding: 2rem 14rem 1rem 10rem;
  background-color: gray;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
}

.addressError {
  font-size: 3rem;
}

.address {
  flex: 2;
  font-size: 3rem;
}

.temperature {
  flex: 1;
  text-align: right;
  font-size: 2rem;
}

.addressHeader,
.temperatureHeader {
  font-weight: bold;
  font-size: 2rem;
}